
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <a  href="/home">
    <h1 class="logo">Tech<span>Course</span></h1></a>

    <div class="nav-links">
      <!-- <a href="#">Home</a> -->
       <a href="/home#courses">Courses</a>
      <a href="/home#reviews">Reviews</a>
      <a href="/home#HowToJoin">HowToJoin</a>
      <a class="contact" href="/listing/contact">CONTACT</a>
    </div>

    <!-- <button onclick="loginUser()" class="login-btn">
      Login
    </button> -->
  </nav>

</body>