<% layout("../views/layouts/boilerplate") %>

<!-- course Details box -->
<section class="course-details">

  <!-- LEFT -->
  <div class="course-left">

    <img
        src="/images/Alpha.jpg"
        alt="coding"
      />

    <div class="title-price">
      <h1>Alpha</h1>
      <div class="price">₹399</div>
    </div>

    <p class="description">
      Java/C++ DSA (Both Language)<br>
      Java/C++ Basic to Adv <br>
      Data Structures (Arrys, Linked Lists, Stacks, Queues, Trees, Graphs)<br>
      Algorithms(Sorting, Searching, Recursion, Dynamic Programming)<br>
      DSA Practice Question with Solution<br>
      Hands-on Problem Solving on Real Coding Questions<br>
       <b class="life"> Validity:- Lifetime Access</b><br>
    </p>

  </div>

  <!-- RIGHT -->
  <div class="course-right">

    <div class="payment-box">

     <div class="qr-image">

    <img
        src="/images/399.jpg"
        alt="Payment QR Code"
    >
</div>

      <div class="upi-box">

        <div>
          <h3>UPI ID</h3>
          <p id="upiText">techcourse@upi</p>
        </div>

        <button onclick="copyUPI()">
          Copy
        </button>

      </div>

       <a href="/payment-verification?course=Alpha" class="buy-now-btn">
    Payment Verification
       </a>

          <div class="payment-note">

    <p>
        <b>Instructions:</b><br>
        1. Scan the QR Code and complete your payment.<br>
        2. Click <b>Payment Verification</b>.<br>
        3. Upload your payment screenshot.<br>
        4. Our team will verify your payment and send the batch access to your email.
    </p>

</div>

    </div>

  </div>

</section>