<% layout("../views/layouts/boilerplate") %>

<!-- course Details box -->
<section class="course-details">

  <!-- LEFT -->
  <div class="course-left">

    <img
        src="/images/SigmaPrime.jpg"
        alt="coding"
      />

    <div class="title-price">
      <h1>Sigma + Prime</h1>
      <div class="price">₹799</div>
    </div>

    <p class="description">
      <b>Prime:  </b>
       Python Programming (Basic to Adv)<br>
      Data Analysis (NumPy & Pandas)<br>
      Data Visualization (Matplotlib)<br>
      GenAI, Machine Learning Algorithms<br>
      AI Engineering Stack, Deep Learning<br>
      Real-world AI Projects: Finance, Recommendation system, Medical, E-commerce, GenAI assistant <br>
    </p>

    <p class="description">
      <br>
       <b>Sigma: </b>
      HTML, CSS, JavaScript & React.js<br>
      Node.js, Express.js & MongoDB (MERN Stack)<br>
      Java/C++ DSA & Aptitude Preparation<br>
      Docker, Kubernetes, Socket.IO, AWS Deployment & WebRTC<br>
       Real-World 6 Projects : Airbnb, Linkdin, Zoom, ChatGPT, GitHub, Zerodha<br>
      <b class="life"> Validity:- Lifetime Access</b><br>
    </p>

  </div>

  <!-- RIGHT -->
  <div class="course-right">

    <div class="payment-box">

      <!-- <div class="qr-image">
        QR CODE
      </div> -->
      <div class="qr-image">

    <img
        src="/images/799.jpg"
        alt="Payment QR Code"
    >

</div>



      <div class="upi-box">

        <div>
          <h3>UPI ID</h3>
          <p id="upiText">techcourse@upi</p>
        </div>

        <button onclick="copyUPI()">
          Copy
        </button>

      </div>

     <a href="/payment-verification?course=Sigma  Prime" class="buy-now-btn">
    Payment Verification
       </a>

     <div class="payment-note">

    <p>
        <b>Instructions:</b><br>
        1. Scan the QR Code and complete your payment.<br>
        2. Click <b>Payment Verification</b>.<br>
        3. Upload your payment screenshot.<br>
        4. Our team will verify your payment and send the batch access to your email.
    </p>

</div>

    </div>

  </div>

</section>